/* Header Section Start */
.row .logo{
	padding: 16px;
}

/* Banner Section Start */

.banner-section{
	background: url(../img/banner.png) no-repeat center;
	background-size: cover;
}
.row .banner h1{
	color: #ffffff;
	text-align: center;
	font-size: 120px;
	font-weight: 500;
	padding-top: 120px;
}
.bord {
    border: 1px solid #15a4fa;
    width: 50%;
    margin: 0 auto;
}
.row .banner p{
	color: #ffffff;
	text-align: center;
	font-size: 20px;
	font-weight: 300px;
	padding-top: 25px;
}
.row .banner .btn-banner{
	display: block;
	border: 1px solid #15a4fa;
	padding: 15px 35px;
	font-size: 18px;
	background: transparent;
	color: white;
	border-radius: 4px;
	margin: 55px auto 45px;
	transition: 0.4s ease-in-out;
	font-weight: 200;
}
.row .banner .btn-banner:hover{
	background: #15a4fa;
	cursor: pointer;
}
.row .banner .fa{
	color: #fff;
	font-size: 35px;
	display: block;
	text-align: center;
	padding-bottom: 40px;
}

/* About Section Start */
.about-section{
	background: #f6f9f9;
}
.row .about h2{
	text-align: center;
	font-size: 40px;
	color: #2d3950;
	padding-top: 80px;
}
.row .about p{
	text-align: center;
	font-size: 20px;
	color: #a0a0a0;
	padding: 30px 0px 110px 0px;
}
/* Features Section Start */
.row .features-box{
	text-align: center;
	padding-top: 65px;
}
.row .features-box h3{
	font-size: 22px;
	color: #2d3950;
	padding-top: 32px;
	font-weight: 500;
}
.row .features-box p{
	font-size: 15px;
	color: #999999;
	padding: 26px 0px 68px 0px;
}

/* Portfolio Section Start */
.portfolio-section{
	background: #f6f9f9;
	padding-bottom: 116px;
}
.portfolio-section h2{
	text-align: center;
	font-size: 41px;
	font-weight: 500;
	color: #2d3950;
	padding-top: 80px;
}
.portfolio-section p{
	text-align: center;
	font-size: 15px;
	color: #999999;
	padding: 22px 0px 83px 0px;
}
.portfolio-item{
	position: relative;
	margin: 9px;
}
.img-hover{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(44,172,247,.8);
	top: 0;
	left: 0;
	opacity: 0;
	transition: 0.4s ease-in-out;
}
.portfolio-item:hover .img-hover{
	opacity: .8;
}
.img-hover ul{
	display: flex;
	justify-content: center;
	margin-top: 30%;
	margin-right: 40px;
}
.img-hover ul li{
	list-style-type: none;
	margin: 0 5px;
	cursor: pointer;
}
.img-hover .fa{
	width: 40px;
	height: 40px;
	border: 1px solid #fff;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 20px;
	border-radius: 3px;
}

/* Contact Us Section Start */
.contact-us-section{
	background: url(../img/Stay-back.png);
	padding: 75px 0px 62px 0px ;
}
.contact h2{
	font-size: 40px;
	text-align: center;
	font-weight: 500;
	color: #fff;
}
.contact p{
	text-align: center;
	color: #7c7e82;
	margin-top: 22px;
}
.contact-form{
	text-align: center;
}
.contact-form .name{
	color: #999999;
	background: transparent;
	border: 1px solid #999999;
	margin-top: 51px;
	border-radius: 3px;
	width: 438px;
	height: 62px;
	padding-left: 18px;
}
.contact-form .email{
	color: #999999;
	background: transparent;
	margin: 22px 0px;
	border: 1px solid #999999;
	border-radius: 3px;
	width: 438px;
	height: 62px;
	padding-left: 18px;
}
.contact-form .message{
	background: transparent;
	border: 1px solid #999999;
	color: #999999;
	border-radius: 3px;
	width: 438px;
	height: 161px;
	padding-left: 18px;
}
.checkbox{
	color: #fff;
	padding-top: 20px;
	
}
.contact-form .btn{
	background: transparent;
	border: 1px solid #15a4fa;
	height: 47px;
	width: 142px;
	color: #fff;
	text-align: center;
	margin-left: 150px;
	transition: 0.4s ease-in-out;
}
.contact-form .btn:hover{
	background: #15a4fa;
	cursor: pointer;
}
/*-- Footer Section Start --*/
footer{
	padding: 20px 0px;
}

.footer-left p{
	color: #999999;
}
.footer-right{
	text-align: right;
}
.footer-right ul li{
	list-style-type: none;
	display: inline;
	margin: 03px;
}
.footer-right .fa{
	width: 40px;
	height: 40px;
	background: #15a4fa;
	text-align: center;
	color: #fff;
	line-height: 40px;
	border-radius: 3px;
}


/* Media Query For Mobile */
@media (min-width: 320px) and (max-width: 500px){

	.row .logo {
	    text-align: center;
	}
	.row .banner h1 {
	    font-size: 80px;
	    padding-top: 35px;
	}
	.row .banner p{
	    font-size: 12px;
	    padding-top: 22px;
	}
	.row .banner .btn-banner {
	    padding: 4px 17px;
	    margin: 42px auto 32px;  
	}
	.row .about h2 {
    padding-top: 40px;
	}
	.row .about p {
    	padding: 30px 0px 37px 0px;
	}
	.row .features-box {
    	padding-top: 37px;
	}
	.portfolio-section h2 {
    	padding-top: 32px;
	}
	.portfolio-section p {
    	padding: 6px 0px 26px 0px;
	}
	.portfolio-item {
   	 	margin: 9px auto;
	}
	.portfolio-section {
    	padding-bottom: 58px;
	}
	.contact h2 {
    	margin-top: -41px;
	}
	.contact-form .name {
	    margin-top: 34px;
	    width: 282px;
	    height: 46px;
	}
	.contact-form .email{
		 width: 282px;
		 height: 46px;
	}
	.contact-form .message{
		 width: 282px;
		 height: 135px;
	}
	.contact-form label{
		margin-right: 116px;
	}
	.contact-form .btn{
	    height: 38px;
	    width: 92px;
	    margin: -62px 0px 0px 191px;
	}
	.footer-left p{
		text-align: center;
	}
	.footer-right ul{
		text-align: center;
		margin-right: 42px
	}

}


/* Media Query For Tablet */
@media (min-width: 501px) and (max-width: 768px){

	.row .logo {
	    text-align: center;
	}
	.row .banner h1 {
	    font-size: 80px;
	    padding-top: 82px;
	}
	.row .banner p{
	    font-size: 12px;
	    padding-top: 22px;
	}
	.row .banner .btn-banner {
	    padding: 4px 17px;
	    margin: 42px auto 32px;  
	}
	.row .about h2 {
    padding-top: 40px;
	}
	.row .about p {
    	padding: 30px 0px 37px 0px;
	}
	.row .features-box {
    	padding-top: 37px;
	}
	.portfolio-section h2 {
    	padding-top: 32px;
	}
	.portfolio-section p {
    	padding: 6px 0px 26px 0px;
	}
	.portfolio-item {
   	 	margin: 9px auto;
	}
	.portfolio-section {
    	padding-bottom: 58px;
	}
	.contact h2 {
    	margin-top: -41px;
	}
	.contact-form .name {
	    margin-top: 34px;
	    width: 356px;
	    height: 46px;
	    color: ;
	}
	.contact-form .email{
		 width: 356px;
		 height: 46px;
	}
	.contact-form .message{
		 width: 356px;
		 height: 135px;
	}
	.contact-form label{
		margin-right: 188px;
	}
	.contact-form .btn{
	    height: 38px;
	    width: 92px;
	    margin: -62px 0px 0px 269px;
	}
	.footer-left p{
		text-align: center;
	}
	.footer-right ul{
		text-align: center;
		margin-right: 42px
	}


}